#progstat, h2 {
    color: rgba(255, 255, 255, .5)
}

*, .c-hamburger:focus {
    outline: 0
}

.btn, .c-hamburger,.c-hamburger1,.console-link, .splited-line {
    overflow: hidden
}

.btn, .btn:hover, .section h2, a {
    text-decoration: none
}

#cursor, .menu, .pointerEventsNone {
    pointer-events: none
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

::placeholder {
    color: #fff;
    opacity: .5
}

:-ms-input-placeholder {
    color: rgba(255, 255, 255, .5)
}

::-ms-input-placeholder {
    color: rgba(255, 255, 255, .5)
}

body {
    width: 100%;
    margin: 0;
    color: #fff;
    font: 400 14px/1.4 "Proxima Nova", Arial, Helvetica, sans-serif;
    background-color: #180b4b
}

h1 {
    font: 300 35px/1.2 "Proxima Nova", Arial, Helvetica, sans-serif
}

h2 {
    font-size: 14px;
    font-weight: 400
}

p {
    font-size: .8rem;
    line-height: 1.7
}

#progstat, .btn, .section h2 {
    font: 400 10px/2rem "Proxima Nova", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px
}

a {
    color: inherit
}

#cursor {
    position: fixed;
    height: 1px;
    width: 1px;
    border-radius: 50%;
    z-index: 999
}

#cursor:before, #loading, #progress, #progstat {
    position: absolute
}

#cursor:before {
    content: "";
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    margin: -35px 0 0 -35px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .5);
    transition: transform 1s cubic-bezier(.19, 1, .22, 1) 0s;
    -webkit-transition: -webkit-transform 1s cubic-bezier(.19, 1, .22, 1) 0s;
    transform: scale(0);
    -webkit-transform: scale(0);
    transform-origin: center
}

#cursor.hover:before {
    transform: scale(1);
    -webkit-transform: scale(1)
}

#cursor.clicked {
    box-shadow: 0 0 0 rgba(255, 255, 255, .4);
    animation: pulse .5s ease
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, .4)
    }
    70% {
        -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0)
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0)
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, .4);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, .4)
    }
    70% {
        -moz-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 30px rgba(255, 255, 255, 0)
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0)
    }
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/proxima/2B04A9_A_0.eot);
    src: url(../fonts/proxima/2B04A9_A_0d41dd41d.eot?#iefix) format("embedded-opentype"), url(../fonts/proxima/2B04A9_A_0.woff) format("woff"), url(../fonts/proxima/2B04A9_A_0.ttf) format("truetype")
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/proxima/2B04A9_B_0.eot);
    src: url(../fonts/proxima/2B04A9_B_0d41dd41d.eot?#iefix) format("embedded-opentype"), url(../fonts/proxima/2B04A9_B_0.woff) format("woff"), url(../fonts/proxima/2B04A9_B_0.ttf) format("truetype")
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/proxima/2B04A9_E_0.eot);
    src: url(../fonts/proxima/2B04A9_E_0d41dd41d.eot?#iefix) format("embedded-opentype"), url(../fonts/proxima/2B04A9_E_0.woff) format("woff"), url(../fonts/proxima/2B04A9_E_0.ttf) format("truetype")
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/proxima/2B04A9_C_0.eot);
    src: url(../fonts/proxima/2B04A9_C_0d41dd41d.eot?#iefix) format("embedded-opentype"), url(../fonts/proxima/2B04A9_C_0.woff) format("woff"), url(../fonts/proxima/2B04A9_C_0.ttf) format("truetype")
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/proxima/2B04A9_D_0.eot);
    src: url(../fonts/proxima/2B04A9_D_0d41dd41d.eot?#iefix) format("embedded-opentype"), url(../fonts/proxima/2B04A9_D_0.woff) format("woff"), url(../fonts/proxima/2B04A9_D_0.ttf) format("truetype")
}

.hideOnLoad {
    display: none
}

#loading {
    transition: opacity 1s cubic-bezier(.19, 1, .22, 1) 0s;
    -webkit-transition: opacity 1s cubic-bezier(.19, 1, .22, 1) 0s;
    opacity: 0;
    width: 300px;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: 250px
}

#progress {
    height: 1px;
    background: #fff;
    width: 0;
    top: 50%;
    transition: 1s
}

#progstat {
    top: 50%;
    margin-top: -40px;
    width: 100%;
    text-align: center
}

.grad-gold {
    background: #800013;
}

.grad-darkpurple {
    background: #003242;
    background: -moz-linear-gradient(45deg, rgba(0, 50, 66, 1) 0, rgba(32, 0, 96, 1) 50%, rgba(79, 0, 92, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(0, 50, 66, 1) 0, rgba(32, 0, 96, 1) 50%, rgba(79, 0, 92, 1) 100%);
    background: linear-gradient(45deg, rgba(0, 50, 66, 1) 0, rgba(32, 0, 96, 1) 50%, rgba(79, 0, 92, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003242', endColorstr='#4f005c', GradientType=1)
}

.grad-blue, .section .section__content h2::before {
    background: #8200f4;
    background: -moz-linear-gradient(45deg, rgba(130, 0, 244, 1) 0, rgba(37, 247, 255, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(130, 0, 244, 1) 0, rgba(37, 247, 255, 1) 100%);
    background: linear-gradient(45deg, rgba(130, 0, 244, 1) 0, rgba(37, 247, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8200f4', endColorstr='#25f7ff', GradientType=1)
}
.section .section__content h2::before {
    background: white !important;
}
.grad-midblue {
    background: #350096;
    background: -moz-linear-gradient(45deg, #350096 0, #00e3c6 100%);
    background: -webkit-linear-gradient(45deg, #350096 0, #00e3c6 100%);
    background: linear-gradient(45deg, #350096 0, #00e3c6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#350096', endColorstr='#00e3c6', GradientType=1)
}

.grad-darkblue {
    background: #23075d;
    background: -moz-linear-gradient(45deg, #23075d 0, #00605c 100%);
    background: -webkit-linear-gradient(45deg, #23075d 0, #00605c 100%);
    background: linear-gradient(45deg, #23075d 0, #00605c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#23075d', endColorstr='#00605c', GradientType=1)
}
.grad-arteative{
    background: rgb(63,4,0);
    background: linear-gradient(105deg, rgba(63,4,0,1) 0%, rgba(110,13,0,1) 50%, rgba(211,10,17,1) 100%);
    background: -moz-linear-gradient(105deg, rgba(63,4,0,1) 0%, rgba(110,13,0,1) 50%, rgba(211,10,17,1) 100%);
    background: -webkit-linear-gradient(105deg, rgba(63,4,0,1) 0%, rgba(110,13,0,1) 50%, rgba(211,10,17,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3F0400', endColorstr='#D30A11', GradientType=1)
}
.grad-purple {
    background: #2a0aa9;
    background: -moz-linear-gradient(45deg, rgba(42, 10, 169, 1) 0, rgba(124, 19, 157, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 10, 169, 1) 0, rgba(124, 19, 157, 1) 100%);
    background: linear-gradient(45deg, rgba(42, 10, 169, 1) 0, rgba(124, 19, 157, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2a0aa9', endColorstr='#7c139d', GradientType=1)
}

.grad-pink, .section .section__content.grad-darkblue h2::before {
    background: #fa49ff;
    background: -moz-linear-gradient(45deg, #fa49ff 0, #6267fc 64%, #5bead5 100%);
    background: -webkit-linear-gradient(45deg, #fa49ff 0, #6267fc 64%, #5bead5 100%);
    background: linear-gradient(45deg, #fa49ff 0, #6267fc 64%, #5bead5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa49ff', endColorstr='#5bead5', GradientType=1)
}

.grad-red, .section .section__content.grad-midblue h2::before {
    background: #221884;
    background: -moz-linear-gradient(315deg, #221884 0, #be3679 50%, #ffa458 100%);
    background: -webkit-linear-gradient(315deg, #221884 0, #be3679 50%, #ffa458 100%);
    background: linear-gradient(315deg, #221884 0, #be3679 50%, #ffa458 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#221884', endColorstr='#ffa458', GradientType=1)
}

#canvas__bg, .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.logo, .o-grid__item {
    position: fixed;
    top: 50%
}

.backgrounds {
    position: fixed;
    z-index: -1
}

.overlay.gradient {
    background: #310089;
    background: -moz-linear-gradient(-45deg, #310089 0, #5b007c 100%);
    background: -webkit-linear-gradient(-45deg, #310089 0, #5b007c 100%);
    background: linear-gradient(135deg, #310089 0, #5b007c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#310089', endColorstr='#5b007c', GradientType=1);
    opacity: .4
}

.overlay.vignette {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=1);
    opacity: .6;
    transition: opacity 4s cubic-bezier(.19, 1, .22, 1) .5s;
    -webkit-transition: opacity 4s cubic-bezier(.19, 1, .22, 1) .5s
}

.logo {
    transition: all 1.8s cubic-bezier(.19, 1, .22, .95) 0s;
    -webkit-transition: all 1.8s cubic-bezier(.19, 1, .22, .95) 0s;
    left: 50%;
    width: 200px;
    height: 23.25px;
    margin: -11px 0 0 -100px;
    opacity: 0;
    filter: blur(40px);
    -webkit-filter: blur(40px);
    transform: translateY(50px) scale(3);
    -webkit-transform: translateY(50px) scale(3);
    z-index: 101
}

#canvas__three, .section, body, html {
    height: 100%
}

.logo svg {
    fill: #fff;
    color: transparent
}

#container, #sections {
    width: 100%;
    height: 100%
}

#canvas__three {
    width: 100%;
    z-index: 0;
    opacity: 0;
    transform: scale(.5);
    -webkit-transform: scale(.5);
    transition: all 2.8s cubic-bezier(.19, 1, .22, .95) .1s;
    -webkit-transition: all 2.8s cubic-bezier(.19, 1, .22, .95) .1s
}

.o-grid__item {
    left: 40px;
    margin-top: -50px;
    z-index: 100
}

.c-hamburger , .c-hamburger1{
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    width: 65px;
    height: 96px;
    font-size: 0;
    text-indent: -9999px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none
}

.c-hamburger span, .c-hamburger1 span {
    display: block;
    position: absolute;
    top: 44px;
    left: 5px;
    right: 18px;
    height: 1px;
    background: #fff
}

.c-hamburger span::after, .c-hamburger span::before, .c-hamburger1 span::after, .c-hamburger1 span::before {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    content: ""
}

.c-hamburger span::before,.c-hamburger1 span::before {
    top: -9px
}

.c-hamburger span::after,.c-hamburger1 span::after {
    bottom: -9px;
    width: 50%
}

.c-hamburger--htla {
    background: 0 0
}

.c-hamburger--htla span {
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s
}

.c-hamburger--htla span::before {
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    -webkit-transition: -webkit-transform .3s, width .3s, top .3s;
    transition: transform .3s, width .3s, top .3s
}

.c-hamburger--htla span::after {
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transition: -webkit-transform .3s, width .3s, bottom .3s;
    transition: transform .3s, width .3s, bottom .3s
}

.c-hamburger,.c-hamburger1 {
    opacity: 0;
    transition: all 2.8s cubic-bezier(.19, 1, .22, .95) .1s;
    -webkit-transition: all 2.8s cubic-bezier(.19, 1, .22, .95) .1s;
    -webkit-transform: translateX(-50px) skewX(-60deg);
    -ms-transform: translateX(-50px) skewX(-60deg);
    transform: translateX(-50px) skewX(-60deg)
}

.c-hamburger--htla.is-active span {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.c-hamburger--htla.is-active span::after, .c-hamburger--htla.is-active span::before {
    width: 50%
}

.c-hamburger--htla.is-active span::before {
    top: 0;
    -webkit-transform: translateX(23px) translateY(1px) rotate(45deg);
    -ms-transform: translateX(23px) translateY(1px) rotate(45deg);
    transform: translateX(23px) translateY(1px) rotate(45deg)
}

.c-hamburger--htla.is-active span::after {
    bottom: -1px;
    -webkit-transform: translateX(23px) translateY(-1px) rotate(-45deg);
    -ms-transform: translateX(23px) translateY(-1px) rotate(-45deg);
    transform: translateX(23px) translateY(-1px) rotate(-45deg)
}

.text-content {
    width: 80%;
    max-width: 450px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 20%;
    transition: all 1.8s cubic-bezier(.19, 1, .22, .95) .2s;
    -webkit-transition: all 1.8s cubic-bezier(.19, 1, .22, .95) .2s;
    opacity: 0;
    filter: blur(20px);
    -webkit-filter: blur(20px);
    transform: translateY(-50%) scale(2);
    -webkit-transform: translateY(-50%) scale(2)
}

.text-content h1.lettr {
    font-size: 40px;
    transform: rotateX(50deg) translateY(-50px);
    transition: all 1.8s cubic-bezier(.19, 1, .22, .95) .2s;
    -webkit-transition: all 1.8s cubic-bezier(.19, 1, .22, .95) .2s
}

.console-link, .scroll-link, .text-content h1.lettr span {
    transition: all 1.8s cubic-bezier(.19, 1, .22, .95) 0s;
    opacity: 0
}

.text-content h1.lettr font {
    display: block
}

.text-content h1.lettr span {
    position: relative;
    display: inline-block;
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    -webkit-transition: all 1.8s cubic-bezier(.19, 1, .22, .95) 0s
}

.console-link, .scroll-link {
    font: 400 10px/2 "Proxima Nova", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
    letter-spacing: 2px;
    position: fixed;
    z-index: 10;
    padding: 10px;
    -webkit-transition: all 1.8s cubic-bezier(.19, 1, .22, .95) 0s;
    transform: translateY(70px);
    -webkit-transform: translateY(70px)
}

.console-link a, .scroll-link a {
    color: #fff;
    transition: all 1.8s cubic-bezier(.19, 1, .22, .95) 0s;
    -webkit-transition: all 1.8s cubic-bezier(.19, 1, .22, .95) 0s
}

.console-link.dark, .scroll-link.dark {
    color: rgba(0, 0, 0, .7)
}

a.console-link.dark:hover, a.scroll-link.dark:hover {
    color: rgba(0, 0, 0, 1)
}

.scroll-link {
    bottom: 40px;
    left: 20%;
    margin-left: -10px
}

.console-link {
    top: 50%;
    right: 0px;
    -webkit-transform: rotate(-90deg) translateY(70px);
    -moz-transform: rotate(-90deg) translateY(70px);
    -ms-transform: rotate(-90deg) translateY(70px);
    -o-transform: rotate(-90deg) translateY(70px);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 10px 30px;
    color: rgba(255, 255, 255, 1);
    margin-top: 30px;
    border-radius: 30px;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    background-color: transparent;
    display: inline-block;
    text-align: center;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.console-link:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: rgba(255, 255, 255, .3);
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(60deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(60deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(60deg);
    transform: translateX(-50%) translateY(-50%) rotate(60deg)
}

.console-link:hover:after {
    height: 400%;
    opacity: 1
}
.console-link a:hover, .scroll-link a:hover, a.console-link:hover, a.scroll-link:hover {
    color: #fff;
}

.start #loading {
    opacity: 1
}

.start .logo {
    opacity: 1;
    filter: blur(0);
    -webkit-filter: blur(0);
    transform: translateY(0) scale(1.2);
    -webkit-transform: translateY(0) scale(1.2)
}

.start #canvas__three {
    opacity: .5;
    transform: scale(1);
    -webkit-transform: scale(1)
}

.appear #loading {
    opacity: 0
}

.appear .logo {
    top: 50px;
    transform: translateY(0) scale(.6);
    -webkit-transform: translateY(0) scale(.6)
}

.appear .text-content {
    opacity: 1;
    filter: blur(0);
    -webkit-filter: blur(0);
    -webkit-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1)
}

.appear .text-content h1.lettr {
    transform: rotateX(0) translateY(0)
}

.appear .text-content h1.lettr span {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

.appear #canvas__three {
    opacity: .4;
    filter: blur(0);
    -webkit-filter: blur(0);
    transform: scale(.85);
    -webkit-transform: scale(.85)
}

.appear .c-hamburger,.appear .c-hamburger1 {
    opacity: 1;
    -webkit-transform: translateX(0) skewX(0);
    -ms-transform: translateX(0) skewX(0);
    transform: translateX(0) skewX(0)
}

.appear .console-link, .appear .scroll-link {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.appear .console-link {
    -webkit-transform: rotate(-90deg) translateY(0);
    -moz-transform: rotate(-90deg) translateY(0);
    -ms-transform: rotate(-90deg) translateY(0);
    -o-transform: rotate(-90deg) translateY(0);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3)
}

.section {
    position: relative
}

.section__clip, .section__content {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0
}

.section__clip {
    clip: rect(auto, auto, auto, auto);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0)
}

.section__content {
    margin: auto
}

:root {
    --clip-position: center
}

.mask-container {
    display: none;
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0
}

@supports (-webkit-clip-path:circle(100px at center)) or (clip-path:circle(100px at center)) {
    .mask-container {
        display: block
    }
    .mask-container .pattern {
        object-fit: cover;
        width: 100%;
        height: 100vh;
        position: relative;
        top: 0;
        left: 0;
        display: none;
        background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">\a<defs>\a<pattern id="ashano" patternUnits="userSpaceOnUse" width="119" height="103" patternTransform="scale(.8)">\a<g stroke="rgba(255,255,255,.07)" fill="none">\a <polygon points="89.3,0 89.3,34.4 119,51.6 89.3,68.7 89.3,103.1 59.5,85.9 29.8,103.1 29.8,68.7 0,51.5 29.8,34.4 29.8,0 59.5,17.2"/>\a <line x1="59.5" y1="17.2" x2="59.5" y2="85.9"/>\a <line x1="29.8" y1="68.7" x2="89.3" y2="34.4"/>\a <line x1="89.3" y1="68.7" x2="29.8" y2="34.4"/>\a <polyline points="89.3,103.1 119,85.9 119,51.5"/>\a <polyline points="119,51.5 119,17.2 89.3,0"/>\a <polyline points="29.8,0.1 0,17.2 0,51.6"/>\a <polyline points="0.1,51.5 0.1,85.9 29.8,103.1" />\a </g>\a</pattern>\a</defs>\a<rect width="100%" height="100%" fill="url(#ashano)" />\a</svg>');
        -webkit-clip-path: circle(100px at var(--clip-position));
        clip-path: circle(100px at var(--clip-position))
    }
}

.grad-midblue .mask-container .pattern, .grad-purple .mask-container .pattern {
    opacity: .9
}

.grad-darkblue .mask-container .pattern {
    opacity: .6
}

.scroll-update-fix .section__content {
    -webkit-animation: mspatch 1s linear infinite;
    animation: mspatch 1s linear infinite
}

@-webkit-keyframes mspatch {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes mspatch {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

.section_fixed .section__content {
    position: fixed
}

.panel {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%
}

.section-img-wrapper, .section-no-wrapper, .section-tagline-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

.section-img-wrapper {
    z-index: 2
}

.section-tagline-wrapper {
    z-index: 3
}

.img-container {
    position: absolute;
    display: block;
    width: 50%;
    height: auto;
    top: 25%;
    left: 10%;
    -webkit-box-shadow: 10px 20px 70.28px 8.72px rgba(0, 0, 0, .2);
    box-shadow: 10px 20px 70.28px 8.72px rgba(0, 0, 0, .2)
}
.img-container-samples {
    position: absolute;
    display: block;
    width: min(0.9 * 100vh, 0.9 * 100vw);
    height: min(0.9 * 100vh, 0.9 * 100vw);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-box-shadow: 10px 20px 70.28px 8.72px rgba(0, 0, 0, .2);
    box-shadow: 10px 20px 70.28px 8.72px rgba(0, 0, 0, .2)
}
.section-img-samples {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}
.btn, .section-img, .section-no, .section-tagline {
    position: relative
}

.section-img {
    display: block;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover
}

.section-no {
    top: 13%;
    width: 30%;
    text-align: left;
    left: 20%;
    font: 700 150px/1 "Proxima Nova", Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, .1)
}

.section-tagline {
    top: 35%;
    width: 30%;
    max-width: 400px;
    text-align: justify;
    padding: 0;
    left: 65%
}

.section-tagline p {
    margin-bottom: 0;
    color: #fff;
    line-height: auto !important;
    font-size: 14px !important;
    margin: 0;
}

.section-tagline h1, .section-tagline h3 {
    color: #fff;
    margin: 0;
}

.splited-line {
    display: block;
    -webkit-transform: translate3d(0, 16px, 0);
    transform: translate3d(0, 16px, 0);
    -webkit-transition: opacity 1.5s cubic-bezier(.19, 1, .22, 1), -webkit-transform 1.5s cubic-bezier(.19, 1, .22, 1);
    transition: opacity 1.5s cubic-bezier(.19, 1, .22, 1), transform 1.5s cubic-bezier(.19, 1, .22, 1)
}

.splited-line__wrapper {
    display: block;
    -webkit-transform: translate3d(0, 64px, 0);
    transform: translate3d(0, 64px, 0);
    -webkit-transition: -webkit-transform 1s cubic-bezier(.19, 1, .22, 1);
    transition: transform 1s cubic-bezier(.19, 1, .22, 1)
}

.splited-line:nth-child(1) .splited-line__wrapper {
    -webkit-transition-delay: .1s;
    transition-delay: .1s
}

.splited-line:nth-child(2) .splited-line__wrapper {
    -webkit-transition-delay: .2s;
    transition-delay: .2s
}

.splited-line:nth-child(3) .splited-line__wrapper {
    -webkit-transition-delay: .3s;
    transition-delay: .3s
}

.splited-line:nth-child(4) .splited-line__wrapper {
    -webkit-transition-delay: .4s;
    transition-delay: .4s
}

.section.active .splited-line, .section.active .splited-line .splited-line__wrapper, .show .splited-line, .show .splited-line .splited-line__wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    text-align: left;
}

.section:not(.active) .splited-line {
    opacity: 0
}

.section:not(.active) .splited-line .splited-line__wrapper {
    -webkit-transform: translate3d(0, 64px, 0);
    transform: translate3d(0, 64px, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s
}

.no-transition .splited-line, .no-transition .splited-line__wrapper {
    -webkit-transition: none;
    transition: none
}

.section .btn, .section p {
    -webkit-transition: opacity 1.5s .1s cubic-bezier(.19, 1, .22, 1), -webkit-transform 1.5s .1s cubic-bezier(.19, 1, .22, 1);
    transition: opacity 1.5s .1s cubic-bezier(.19, 1, .22, 1), transform 1.5s .1s cubic-bezier(.19, 1, .22, 1)
}

.btn {
    border: 1px solid rgba(255, 255, 255, .3);
    padding: 10px 30px;
    color: rgba(255, 255, 255, .5);
    margin-top: 30px;
    border-radius: 30px;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    background-color: transparent;
    display: inline-block;
    text-align: center;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: rgba(255, 255, 255, .3);
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(60deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(60deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(60deg);
    transform: translateX(-50%) translateY(-50%) rotate(60deg)
}

.btn:hover:after {
    height: 400%;
    opacity: 1
}

.section .line::before, .section h2::before {
    height: 1px;
    content: ''
}

.btn:hover {
    color: #fff;
    -webkit-box-shadow: 0 20px 60px rgba(0, 0, 0, .1);
    box-shadow: 0 20px 60px rgba(0, 0, 0, .1)
}

.section:not(.active) .btn, .section:not(.active) p {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0)
}

.section.active p {
    -webkit-transition-delay: .3s;
    transition-delay: .3s
}

.section.active .btn {
    -webkit-transition-delay: .4s;
    transition-delay: .4s
}

.section.active .btn, .section.active p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.section.active p {
    opacity: .7
}

.section .line::before {
    position: absolute;
    top: -30px;
    left: -100px;
    opacity: .5;
    width: 180px;
    display: block;
    background-color: #fff;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: translate3d(10px, 0, 0) scale(0, 1);
    transform: translate3d(10px, 0, 0) scale(0, 1);
    -webkit-transition: -webkit-transform 1s cubic-bezier(.19, 1, .22, 1);
    transition: transform 1s cubic-bezier(.19, 1, .22, 1);
    -webkit-transition-delay: .8s;
    transition-delay: .8s
}

.section:not(.active) .line::before {
    -webkit-transition-delay: 0s;
    transition-delay: 0s
}

.section.active .line::before {
    -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
    transform: translate3d(0, 0, 0) scale(1, 1)
}

.section-tagline.dark h1, .section-tagline.dark p {
    color: #000
}

.section-tagline.dark h2 span {
    color: rgba(0, 0, 0, .3)
}

.section-tagline.dark h2::before {
    background-color: rgba(0, 0, 0, .1)
}

.section h2 {
    margin-bottom: 1.1857rem;
    padding-top: .8143rem;
    position: relative;
    color: rgba(255, 255, 255, .5);
    margin:0;
}

.section h2 span {
    display: inline-block;
    opacity: 0;
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
    -webkit-transition: opacity 2s cubic-bezier(.19, 1, .22, 1), -webkit-transform 2s cubic-bezier(.19, 1, .22, 1);
    transition: opacity 2s cubic-bezier(.19, 1, .22, 1), transform 2s cubic-bezier(.19, 1, .22, 1)
}

.section.active h2 span strong {
    color: #fff;
    font-weight: 600
}

.section h2::before {
    position: absolute;
    top: 28px;
    left: -120px;
    width: 100px;
    display: block;
    background-color: rgba(255, 255, 255, .3);
    opacity: .6;
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: translate3d(10px, 0, 0) scale(0, 1);
    transform: translate3d(10px, 0, 0) scale(0, 1);
    -webkit-transition: -webkit-transform 2s cubic-bezier(.19, 1, .22, 1);
    transition: transform 2s cubic-bezier(.19, 1, .22, 1)
}

.menu, .menu-overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0
}

.section .section__content.home h2::before {
    background: rgba(255, 255, 255, .3)
}

#home {
    /*background: url('../img/home.jpg');*/
}

.section.active h2 span {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s
}

.section.active h2::before {
    -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
    transform: translate3d(0, 0, 0) scale(1, 1);
    -webkit-transition-delay: .1s;
    transition-delay: .1s
}

.menu {
    position: fixed;
    z-index: 99;
    opacity: 1
}

.menu .section__content .overlay {
    z-index: -1;
    background-color: rgba(10, 20, 30, .7)
}

.menu-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    opacity: 0;
    -webkit-transition: all .8s cubic-bezier(.19, 1, .22, 1);
    transition: all .8s cubic-bezier(.19, 1, .22, 1)
}

.menu.active {
    pointer-events: auto
}

.menu.active .menu-overlay {
    opacity: 1
}

.menu .section__clip {
    width: 0;
    -webkit-transition: all .8s cubic-bezier(.19, 1, .22, 1);
    transition: all .8s cubic-bezier(.19, 1, .22, 1)
}

.menu.active .section__clip {
    width: 100%;
    width: 100vw
}

.menu .description, .menu .description h1, .menu .description p {
    transition: all 1.8s cubic-bezier(.19, 1, .22, .95);
    -webkit-transition: all 1.8s cubic-bezier(.19, 1, .22, .95)
}

.menu .description {
    width: 50%;
    max-width: 280px;
    margin: 0 auto;
    position: absolute;
    bottom: 10%;
    right: 10%;
    opacity: 0;
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-direction: row
}

.nav-container a, .nav-container>div {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%
}

.menu.active .description {
    opacity: 1
}

.menu .description p {
    width: 100%;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, .3);
    padding-left: 30px
}

.menu .description p span {
    pointer-events: none
}

.menu .description p a {
    color: rgba(255, 255, 255, .5)
}

.menu .description p a:hover {
    color: rgba(255, 255, 255, .8)
}

.menu .description h1, .menu .description p {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px)
}

.menu .description h1 {
    -webkit-transition-delay: .1s;
    transition-delay: .1s
}

.menu .description p:nth-child(1) {
    -webkit-transition-delay: .2s;
    transition-delay: .2s
}

.menu .description p:nth-child(2) {
    -webkit-transition-delay: .3s;
    transition-delay: .3s
}

.menu.active .description h1, .menu.active .description p {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

.nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%
}

.nav-container>div {
    border-left: 1px solid rgba(255, 255, 255, .05)
}

.nav-container>div:nth-child(1) {
    border-left: none
}

.nav-container a {
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%)
}

.nav-container a, .nav-container a .bg, .nav-container a h3, .nav-container a span {
    opacity: 0;
    transition: all 1s cubic-bezier(.19, 1, .22, .95);
    -webkit-transition: all 1s cubic-bezier(.19, 1, .22, .95)
}

.nav-container a h3, .nav-container a span {
    margin-left: 10px
}

.menu.active .nav-container a, .menu.active .nav-container a h3, .menu.active .nav-container a span {
    opacity: 1
}

.menu.active .nav-container a {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

.menu.active .nav-container div:nth-child(2) a {
    -webkit-transition-delay: .1s;
    transition-delay: .1s
}

.menu.active .nav-container div:nth-child(3) a {
    -webkit-transition-delay: .14s;
    transition-delay: .14s
}

.menu.active .nav-container div:nth-child(4) a {
    -webkit-transition-delay: .18s;
    transition-delay: .18s
}

.menu.active .nav-container div:nth-child(5) a {
    -webkit-transition-delay: .22s;
    transition-delay: .22s
}

.menu.active .nav-container div:nth-child(6) a {
    -webkit-transition-delay: .26s;
    transition-delay: .26s
}

.menu.active .nav-container div:nth-child(7) a {
    -webkit-transition-delay: .3s;
    transition-delay: .3s
}

.menu.active .nav-container div:nth-child(8) a {
    -webkit-transition-delay: .34s;
    transition-delay: .34s
}

.menu.active .nav-container div:nth-child(9) a {
    -webkit-transition-delay: .38s;
    transition-delay: .38s
}

.nav-container a .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0
}

.nav-container a span {
    display: block;
    font: 700 80px/1 "Proxima Nova", Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, .1);
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px)
}

@media screen and (max-width: 890px) {
    .nav-container a span {
        font-size: 60px
    }
}

.nav-container h3 {
    font: 400 10px "Proxima Nova", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .5);
    letter-spacing: 2px;
    margin-top: 0;
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px)
}

.nav-container a:hover .bg {
    opacity: 1
}

.nav-container a:hover span {
    color: rgba(255, 255, 255, .2);
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px)
}

.nav-container a:hover h3 {
    color: rgba(255, 255, 255, 1);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

.carousel-scroll-btn {
    opacity: 0;
    transition: all 2.8s cubic-bezier(.19, 1, .22, .95) .1s;
    -webkit-transition: all 2.8s cubic-bezier(.19, 1, .22, .95) .1s;
    -webkit-transform: translateY(80px);
    -ms-transform: translateY(80px);
    transform: translateY(80px);
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -16px;
    width: 30px;
    height: 43px;
    text-align: center;
    cursor: pointer
}

.appear .carousel-scroll-btn {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.carousel-scroll-btn:hover .carousel-scroll-btn-icon-hover-path {
    stroke-dashoffset: 0;
    -webkit-animation: carousel-scroll-btn-roll-over .6s cubic-bezier(.63, .1, .08, 1.01);
    animation: carousel-scroll-btn-roll-over .6s cubic-bezier(.63, .1, .08, 1.01)
}

.carousel-scroll-btn:before {
    position: absolute;
    top: -20px;
    left: 50%;
    width: 1px;
    height: 48px;
    background: rgba(255, 255, 255, .1);
    content: '';
    z-index: 62
}

.carousel-scroll-btn:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 26px;
    height: 39px;
    margin-left: -14px;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    z-index: 62
}

.carousel-scroll-btn-icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: -webkit-transform .3s cubic-bezier(.19, 1, .22, 1) .5s;
    transition: transform .3s cubic-bezier(.19, 1, .22, 1) .5s;
    z-index: 62
}

.carousel-scroll-btn-icon {
    position: absolute;
    top: 18px;
    left: 8px;
    width: 16px;
    height: 16px;
    color: #fff;
    fill: #fff
}

.carousel-scroll-btn-icon-hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 65
}

.carousel-scroll-btn-icon-hover-path {
    fill: transparent;
    stroke-width: 1px;
    stroke: #fff;
    stroke-dashoffset: 113;
    stroke-dasharray: 113;
    -webkit-animation: carousel-scroll-btn-roll-out .6s cubic-bezier(.63, .1, .08, 1.01);
    animation: carousel-scroll-btn-roll-out .6s cubic-bezier(.63, .1, .08, 1.01)
}

@-webkit-keyframes carousel-scroll-btn-roll-over {
    0% {
        stroke-dashoffset: 113
    }
    100% {
        stroke-dashoffset: 0
    }
}

@keyframes carousel-scroll-btn-roll-over {
    0% {
        stroke-dashoffset: 113
    }
    100% {
        stroke-dashoffset: 0
    }
}

@-webkit-keyframes carousel-scroll-btn-roll-out {
    0% {
        stroke-dashoffset: 0
    }
    100% {
        stroke-dashoffset: -113
    }
}

@keyframes carousel-scroll-btn-roll-out {
    0% {
        stroke-dashoffset: 0
    }
    100% {
        stroke-dashoffset: -113
    }
}

@media screen and (max-width: 600px) {
    .img-container {
        width: 85%;
        height: auto;
        top: 5%;
        left: 7%
    }
    .section-no {
        position: relative;
        top: 40%;
        width: 30%;
        text-align: left;
        left: 20%;
        font: 700 150px/1 "Proxima Nova", Arial, Helvetica, sans-serif;
        color: rgba(255, 255, 255, .1)
    }
    .section-tagline {

        position: relative;
        top: calc(6.6 * 10vw);
        width: 100%;
        max-width: 86%;
        padding: 0;
        left: 7%;
        height: 50vh;
        overflow-y: scroll;
        padding-right: 10px;
    }
    .appear .console-link{
        -webkit-transform: none !important;
    }
    .console-link{
        top: 85vh;
        left: 30%;
        right: unset !important;
    }
    .section-tagline::-webkit-scrollbar {
        width: 2px;
    }
    .section-tagline::-webkit-scrollbar-thumb {
        background: rgba(255,255,255,0.4);
    }
    .menu, .o-grid__item, .scroll-link, .section-tagline h2 {
        display: none !important
    }
    .text-content h1.lettr, h1 {
        font-size: 25px
    }
    .text-content {
        max-width: 280px
    }
    .text-content h1.lettr {
        font-size: 30px
    }
    .myDownlaod {
        bottom: 200px !important;
    }
    .myEsco {
        margin-left: -70px !important;
        display: block !important;
        bottom: 40px !important;
    }
    .myEsco img {
        width: 90px !important;
    }
    .myOn {
        margin-left: 30px !important;
        display: block !important;
        bottom: 40px !important;
    }
    .myOn img {
        width: 90px !important;
    }
    .myApp {
        margin-left: 187px !important;
        margin-bottom: -9px !important;
        display: block !important;
    }
    .myApp img {
        width: 90px !important;
    }
    .myMedia {
        bottom: 60px !important;
        margin-left: 110px !important;
        display: block !important;
    }
    .myMedia img {
        width: 90px !important;
    }
}